<section class="login">
  <div class="container">
    <form class="login__form" [formGroup]="form" (ngSubmit)="submit()">
      <h2 class="login__form-title">Sign in</h2>
      <hr class="login__form-paginator">
      <div class="form-group login__form-group">
        <label>Email <span>*</span></label>
        <input formControlName="email" type="email" class="form-control">
        <!--      <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
      <div class="form-group login__form-group">
        <label>Password <span>*</span></label>
        <input formControlName="password" type="password" class="form-control">
        <!--      <small class="form-text text-muted">We'll never share your email with anyone else.</small>-->
      </div>
      <button type="submit" class="btn btn-primary login__form-button">Continue</button>
      <p class="login__form-information">Don't have an account? <span class="text-primary" routerLink="/register">Sign up</span></p>
    </form>
  </div>
</section>
